/* General */

html {
  height: 100%;
}

body {
  background-color: #dde6ed;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.actions {
  background-color: #222831;
  text-align: center;
  border: none;
  font-size: 1.8rem;
  padding: 12px 20px;
  color: #eeeeee;
  margin: 20px 50px;
  border-radius: 2rem;
}

.actions:disabled {
  background-color: #31363f;
}

a {
  color: #dde6ed;
}

table {
  border-collapse: collapse;
  font-size: 1.5rem;
  width: 80%;
}

table thead tr {
  text-align: left;
  background-color: #27374d;
  color: #ffffff;
  font-weight: bold;
}

table th,
table td {
  padding: 10px 8px;
}

table tbody tr {
  border-bottom: 1px solid #526d82;
}

table tbody tr:nth-child(even) {
  background-color: #9db2bf;
}

table tbody tr:nth-child(odd) {
  background-color: #dde6ed;
}

table tbody tr:last-of-type {
  border-bottom: 2.5px solid #526d82;
}

caption {
  color: #31363f;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 15px;
}

.inputs {
  border: 2px solid #222831;
  font-size: 2.8rem;
  text-align: center;
  color: #31363f;
}

.subtitles {
  color: #222831;
  font-size: 3.5rem;
  margin: 0px 25px;
}

/* General */

/* Header Secton */

.header-section {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.header {
  display: flex;
  margin: 0px 0px;
  justify-content: center;
  background-color: #222831;
  flex-wrap: wrap;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 8rem;
  padding: 16px;
  color: #eeeeee;
}

/* Header Secton */

/* IP Definition Secton */

.ip-definition-section {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.ip-definition {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #526d82;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.ip-network {
  width: 28rem;
  border-radius: 12rem;
}

.subnet-mask {
  background-color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ip-network-subnet-mask {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.error-message {
  color: #dde6ed;
  font-style: italic;
  font-size: 2rem;
  margin: 0px 25px;
}

/* IP Definition Secton */

/* Host Definition Section */

.host-definition {
  background-color: #526d82;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
}

.number-of-host {
  border-radius: 12rem;
  width: 20rem;
  font-size: 2.2rem;
}

#host-definition input {
  margin: 0px 25px;
}

.host-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 5rem;
}

.inner-host-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.delete-host {
  padding: 0.5rem 1rem;
  margin: 0rem 0rem;
  font-size: 1.6rem;
  width: 10rem;
}

/* Host Definition Section */

/* Actions Section */

.actions-container {
  background-color: #526d82;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.add-host-action {
  width: 18rem;
}

.calculate-subnetting-action {
  width: 20rem;
}

/* Actions Section */

/* IP Network Subnetting Section */

#ip-network-subnetting-section {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#ip-network-subnetting {
  display: none;
  justify-content: center;
  padding: 2.5rem 0rem;
}

/* IP Network Subnetting Section */

/* Footer Section */

#footer-section {
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#footer {
  background-color: #31363f;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer p {
  font-size: 1.8rem;
  color: #ffffff;
}

#footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

#footer-links img {
  height: 5rem;
  margin: 0px 2rem;
}

/* Footer Section */

/* Responsive Styles */
/* Responsive Styles */
/* Responsive Styles */

/* Smartphones 480px */
/* Smartphones 480px */
/* Smartphones 480px */

@media screen and (max-width: 480px) {
  /* General */

  input {
    border-radius: 0rem;
    font-size: 1.5rem;
    width: 14rem;
    text-align: center;
  }

  input[type="number"] {
    font-size: 1.2rem;
    width: 10rem;
  }

  button {
    font-size: 1.3rem;
    padding: 0.5rem 1.8rem;
    margin: 0.6rem 4.5rem;
  }

  caption {
    font-size: 1.5rem;
  }

  table {
    font-size: 1.2rem;
  }

  table td {
    padding: 0.5rem 0.8rem;
  }

  table tbody tr {
    border-top: 0.1rem solid #526d82;
  }

  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  /* General */

  /* Header Secton */

  #header > h1 {
    font-size: 3rem;
  }

  /* Header Secton */

  /* IP Definition Secton */

  #ip-definition {
    flex-direction: column;
  }

  #ip-definition > label {
    margin: 1rem 2.5rem;
    margin-top: 0rem;
    font-size: 2.4rem;
  }

  #ip-network-message {
    font-size: 1.2rem;
    margin: 0.8rem 2.5rem;
  }

  /* IP Definition Secton */

  /* Host Definition Section */

  #host-definition {
    padding: 1.5rem 0.2rem;
  }

  #host-definition label {
    font-size: 2.2rem;
    margin: 0rem 2.2rem 0.6rem 2.2rem;
  }

  #host-definition input {
    margin: 0rem 0.5rem;
  }

  .host-container {
    margin-top: 0.6rem;
  }

  .delete-host-button {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }

  /* Host Definition Section */

  /* Actions Section */

  #actions {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.5rem;
  }

  /* Actions Section */

  /* Footer Section */

  #footer {
    text-align: center;
  }

  #footer p {
    font-size: 1.2rem;
    color: #ffffff;
  }

  #footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
  }

  #footer-links img {
    height: 2.5rem;
    margin: 0.6rem 1.2rem;
  }

  /* Footer Section */
}

/* Smartphones 480px */
/* Smartphones 480px */
/* Smartphones 480px */

/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* General */

  input {
    border-radius: 0rem;
    font-size: 1.8rem;
    width: 18rem;
    text-align: center;
  }

  input[type="number"] {
    font-size: 1.5rem;
    width: 14rem;
  }

  button {
    font-size: 1.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem 5rem;
  }

  caption {
    font-size: 2.2rem;
  }

  table {
    font-size: 1.4rem;
  }

  table td {
    padding: 0.2rem 0.4rem;
  }

  table tbody tr {
    border-top: 0.1rem solid #526d82;
  }

  table tbody tr:last-of-type {
    border-bottom: 0.3rem solid #526d82;
  }

  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  /* General */

  /* Header Secton */

  #header > h1 {
    font-size: 3.8rem;
  }

  /* Header Secton */

  /* IP Definition Secton */

  #ip-definition {
    flex-direction: column;
  }

  #ip-definition > label {
    margin: 0.7rem 1.2rem;
    font-size: 2.8rem;
  }

  #ip-network-message {
    font-size: 1.4rem;
    margin: 0.7rem 1.2rem;
  }

  /* IP Definition Secton */

  /* Host Definition Section */

  #host-definition {
    padding: 1.4rem 0rem;
  }

  #host-definition label {
    font-size: 2.6rem;
    margin: 0rem 0.8rem 0.8rem 0.8rem;
  }

  #host-definition input {
    margin: 0rem 1.2rem;
  }

  .host-container {
    margin-top: 0.5rem;
  }

  .delete-host-button {
    font-size: 1.3rem;
    padding: 0.3rem 0.8rem;
  }

  /* Host Definition Section */

  /* Actions Section */

  #actions {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.8rem;
  }

  /* Actions Section */

  /* Footer Section */

  #footer {
    text-align: center;
  }

  #footer p {
    font-size: 1.8rem;
    color: #ffffff;
  }

  #footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  #footer-links img {
    height: 3.5rem;
    margin: 1rem 1rem;
  }

  /* Footer Section */
}

/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */

/* Smartphones 769px - 1359px */
/* Smartphones 769px - 1359px */
/* Smartphones 769px - 1359px */

@media screen and (min-width: 769px) and (max-width: 1279px) {
  /* General */

  input {
    border-radius: 0rem;
    font-size: 2.5rem;
    width: 22rem;
    text-align: center;
  }

  input[type="number"] {
    font-size: 2rem;
    width: 18rem;
  }

  button {
    font-size: 1.8rem;
    padding: 1rem 1.8rem;
    margin: 0.5rem 2rem;
  }

  caption {
    font-size: 2.6rem;
  }

  table {
    font-size: 1.8rem;
  }

  table td {
    padding: 0.2rem 0.4rem;
  }

  table tbody tr {
    border-top: 0.2rem solid #526d82;
  }

  table tbody tr:last-of-type {
    border-bottom: 0.6rem solid #526d82;
  }

  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  /* General */

  /* Header Secton */

  #header > h1 {
    font-size: 6rem;
  }

  /* Header Secton */

  /* IP Definition Secton */

  #ip-definition {
    flex-direction: column;
  }

  #ip-definition > label {
    margin: 1rem 1.2rem;
    font-size: 4rem;
  }

  #ip-network-message {
    font-size: 1.9rem;
    margin: 1rem 1.6rem;
  }

  /* IP Definition Secton */

  /* Host Definition Section */

  #host-definition {
    padding: 1.8rem 0.6rem;
  }

  #host-definition label {
    font-size: 3.5rem;
    margin: 0rem 0.8rem 0.5rem 0.8rem;
  }

  #host-definition input {
    margin: 0.2rem 1.2rem;
  }

  .host-container {
    margin-top: 0.5rem;
  }

  .delete-host-button {
    font-size: 1.6rem;
    padding: 0.3rem 0.8rem;
  }

  /* Host Definition Section */

  /* IP Network Subnetting Section */

  #ip-network-subnetting {
    display: none;
  }

  #ip-network-subnetting {
    justify-content: center;
    padding: 2.5rem 2.5rem;
  }

  /* IP Network Subnetting Section */

  /* Footer Section */

  #footer {
    text-align: center;
  }

  #footer p {
    font-size: 2.2rem;
    color: #ffffff;
  }

  #footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  #footer-links img {
    height: 5rem;
    margin: 1rem 1rem;
  }

  /* Footer Section */
}

/* Smartphones 769px - 1359px */
/* Smartphones 769px - 1359px */
/* Smartphones 769px - 1359px */
