/* General */

html {
  height: 100%;
}

body {
  background-color: #dde6ed;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu Sans", "Courier New", Courier, monospace;
}

::selection {
  color: #fff;
  background-color: #27374d;
}

.inputs {
  border: 0.2rem solid #222831;
  font-size: 2.8rem;
  text-align: center;
  color: #31363f;
}

.subtitles {
  color: #222831;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0 1.563rem;
}

/* General */

/* Header Secton */

.header-section {
  margin: 0;
}

.header-container {
  display: flex;
  margin: 0 0;
  justify-content: center;
  background-color: #222831;
  flex-wrap: wrap;
}

.title {
  margin: 1.25rem;
  font-size: 8rem;
  text-align: center;
  padding: 1rem;
  color: #eeeeee;
}

/* Header Secton */

/* IP Definition Secton */

.ip-definition-section {
  margin: 0.625rem 0 0;
}

.ip-definition {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #526d82;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.ip-network {
  width: 28rem;
  border-radius: 12rem;
}

.subnet-mask {
  background-color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 2rem;
  width: 8rem;
  text-align: center;
  border: 0.2rem solid #222831;
  color: #31363f;
}

.ip-network-subnet-mask {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.error-container {
  background-color: #bf3131;
  border-radius: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  display: none;
  border: 0.2rem solid #7d0a0a;
}

.error-message {
  color: #dde6ed;
  font-style: italic;
  font-size: 2rem;
  margin: 0 2rem;
}

/* IP Definition Secton */

/* Actions Section */

.actions-container {
  background-color: #526d82;
  display: flex;
  justify-content: center;
  padding-bottom: 1.563rem;
}

.actions {
  background-color: #222831;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.75rem 1.25rem;
  color: #eeeeee;
  margin: 1.25rem 3.125rem;
  border-radius: 2rem;
  border: 0.2rem solid #eeeeee;
}

.actions:hover {
  background-color: #31363f;
}

.add-host-action {
  width: 18rem;
}

.calculate-subnetting-action {
  width: 20rem;
}

/* Actions Section */

/* Host Definition Section */

.host-definition-container {
  background-color: #526d82;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.host-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 5rem;
}

.inner-host-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.number-of-host {
  border-radius: 12rem;
  width: 20rem;
  font-size: 2.2rem;
  margin: 0 1.4rem;
}

.delete-host {
  padding: 0.5rem 1rem;
  margin: 0 0;
  font-size: 1.6rem;
  width: 10rem;
}

/* Host Definition Section */

/* IP Network Subnetting Section */

.ip-network-subnetting-section {
  margin: 0.625rem 0 0;
}

.network-subnetting-container {
  display: none;
  justify-content: center;
  padding: 2.5rem 0;
}

/* IP Network Subnetting Section */

/* Table Styles */

table {
  border-collapse: collapse;
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
}

table thead tr {
  text-align: left;
  background-color: #27374d;
  color: #ffffff;
  font-weight: bold;
}

table th,
table td {
  padding: 0.625rem 0.5rem;
}

table tbody tr {
  border-bottom: 0.063rem solid #526d82;
}

table tbody tr:nth-child(even) {
  background-color: #9db2bf;
}

table tbody tr:last-of-type {
  border-bottom: 0.6rem solid #526d82;
}

caption {
  color: #31363f;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 0.938rem;
}

/* Table Styles */

/* Footer Section */

.footer-section {
  margin: 0.625rem 0 0;
}

.footer-container {
  background-color: #31363f;
  padding: 0.313rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 1.8rem;
  color: #ffffff;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.563rem;
}

.image-link {
  margin: 0 2rem;
  border-radius: 2rem;
  height: 5rem;
}

/* Footer Section */

/* Responsive Styles */
/* Responsive Styles */
/* Responsive Styles */

/* Smartphones 480px */
/* Smartphones 480px */
/* Smartphones 480px */

@media screen and (max-width: 480px) {
  /* General */

  .inputs {
    border: 0.2rem solid #222831;
    font-size: 1.5rem;
  }

  .subtitles {
    color: #222831;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 1.563rem;
  }

  /* General */

  /* Header Secton */

  .title {
    font-size: 3.4rem;
  }

  /* Header Secton */

  /* IP Definition Secton */

  .host-definition-container {
    padding: 0.625rem;
  }

  .ip-network-subnet-mask {
    margin: 1.4rem 0;
    flex-direction: column;
  }

  .ip-network {
    width: 15rem;
  }

  .subnet-mask {
    font-size: 1.2rem;
    width: 5rem;
    margin: 0.6rem 0;
  }

  .error-container {
    max-width: 80%;
  }

  .error-message {
    font-size: 0.9rem;
  }

  /* IP Definition Secton */

  /* Actions Section */

  .actions-container {
    flex-direction: column;
    align-items: center;
  }

  .actions {
    font-size: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0.5rem 0.5rem;
  }

  .actions:hover {
    background-color: #31363f;
  }

  .add-host-action {
    width: 14rem;
  }

  .calculate-subnetting-action {
    width: 14rem;
  }

  /* Actions Section */

  /* Host Definition Section */

  .host-definition-container {
    flex-direction: column;
    align-items: center;
  }

  .host-container {
    margin: 0.8rem 0.2rem;
  }

  .inner-host-container {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .first-host {
    margin: 0.5rem 1.4rem;
  }
  .number-of-host {
    width: 10rem;
    font-size: 1.2rem;
  }

  .custom {
    margin: 0 1rem 0 0;
  }

  .delete-host {
    font-size: 0.8rem;
    width: 6rem;
    margin: 0 0;
    padding: 0.4rem 0.4rem;
  }

  /* Host Definition Section */

  /* Table Style */

  caption {
    font-size: 1.8rem;
  }

  table {
    font-size: 1.4rem;
  }

  table td {
    padding: 0.2rem 0.4rem;
  }

  table tbody tr {
    border-top: 0.1rem solid #526d82;
  }

  table tbody tr:last-of-type {
    border-bottom: 0.3rem solid #526d82;
  }

  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  /* Table Style */

  /* Footer Section */

  .footer-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .image-link {
    margin: 0 2rem;
    border-radius: 2rem;
    height: 3rem;
  }

  /* Footer Section */
}

/* Smartphones 480px */
/* Smartphones 480px */
/* Smartphones 480px */

/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* General */

  .inputs {
    font-size: 2rem;
  }

  .subtitles {
    font-size: 3rem;
    margin: 0 1.563rem;
  }

  /* General */

  /* Header Secton */

  .title {
    font-size: 4rem;
  }

  /* Header Secton */

  /* IP Definition Secton */

  .host-definition-container {
    padding: 0.625rem;
  }

  .ip-network-subnet-mask {
    margin: 1.4rem 0;
    flex-direction: column;
  }

  .ip-network {
    color: #31363f;
    width: 18rem;
  }

  .subnet-mask {
    font-size: 1.6rem;
    width: 6rem;
    margin: 0.6rem 0;
  }

  .error-container {
    max-width: 80%;
  }

  .error-message {
    font-size: 1.5rem;
  }

  /* IP Definition Secton */

  /* Actions Section */

  .actions-container {
    flex-direction: column;
    align-items: center;
  }

  .actions {
    font-size: 1.5rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0.5rem 0.5rem;
  }

  .add-host-action {
    width: 16rem;
  }

  .calculate-subnetting-action {
    width: 16rem;
  }

  /* Actions Section */

  /* Host Definition Section */

  .host-definition-container {
    flex-direction: column;
    align-items: center;
  }

  .host-container {
    margin: 0.8rem 0.2rem;
  }

  .inner-host-container {
    margin: 0.3rem;
  }

  .first-host {
    margin: 0.5rem 1.4rem;
  }
  .number-of-host {
    width: 16rem;
    font-size: 1.6rem;
  }

  .custom {
    margin: 0 1rem 0 0;
  }

  .delete-host {
    font-size: 1.4rem;
    width: 8rem;
    margin: 0 0;
    padding: 0.4rem 0.4rem;
  }

  /* Host Definition Section */

  /* Table Style */

  caption {
    font-size: 2rem;
  }

  table {
    font-size: 1.6rem;
  }

  table td {
    padding: 0.4rem 0.6rem;
  }

  table tbody tr {
    border-top: 0.2rem solid #526d82;
  }

  table tbody tr:last-of-type {
    border-bottom: 0.4rem solid #526d82;
  }

  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  /* Table Style */

  /* Footer Section */

  .footer-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .image-link {
    margin: 0 2rem;
    border-radius: 2rem;
    height: 3rem;
  }

  /* Footer Section */
}

/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */
/* Smartphones 481px - 768px */

/* Smartphones 769px - 1279px */
/* Smartphones 769px - 1279px */
/* Smartphones 769px - 1279px */

@media screen and (min-width: 769px) and (max-width: 1279px) {
  /* Table Style */

  caption {
    font-size: 2.2rem;
  }

  table {
    font-size: 1.8rem;
  }

  table td {
    padding: 0.2rem 0.4rem;
  }

  table tbody tr {
    border-top: 0.1rem solid #526d82;
  }

  table tbody tr:last-of-type {
    border-bottom: 0.3rem solid #526d82;
  }

  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  /* Table Style */
}

/* Smartphones 769px - 1279px */
/* Smartphones 769px - 1279px */
/* Smartphones 769px - 1279px */
